<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Criar cliente</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

 
</head>

<body>
    <div class="container">
        <br>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="update">Atualizar cadastro</a>
                </div>
                <div class="collapse navbar-collapse" id="nav">
                    <ul class="nav navbar-nav">
                        <li><a href="home">Clientes cadastrados</a></li>
                        <li class="active"><a href="create">Cliente novos</a></li>
                        <li class="active"><a href="login">Sair</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <form id="new_entry">
            <h4>Nome</h4>
          
            <input type="text" name="Nome" class="content" required>
                       
            <br>
            
            <h4>Sobrenome</h4>
            <input type="text" name="Sobrenome" required>
            
            <br>
            <h4>E-mail</h4>
            <input type="email" name="email" class="content" id="email">
            
            <br>

            <h4>Rua/Av</h4>
            <input name="Rua" type="text" id="Rua">
            
            <br>
            <h4>Bairro</h4>
            <input name="Bairro" id="Bairro">
            <br>
            
            <h4>Número</h4>
            <input name="numero" type="number" id="numero">
            
            <br>
            <h4>Complemento</h4>
            <input name="Complemento" id="Complemento">
            
            
            <h4>Telefone</h4>
            <input name="Telefone" type="tel" id="Telefone">
      
            

            <div class="text-right">
                <button class="btn btn-large btn-primary">Criar cliente</button>
            </div>
        </form>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-app.js"></script>
    
    
    <script>
                var config = {
                    apiKey: "AIzaSyBS8gIOtlo0HgIdtvT9dFF4s_jpbkJ8ino",
                    authDomain: "trabmotanha.firebaseapp.com",
                    databaseURL: "https://trabmotanha.firebaseio.com",
                    projectId: "trabmotanha",
                    storageBucket: "trabmotanha.appspot.com",
                    messagingSenderId: "611786546158",
                    appId: "1:611786546158:web:bae40cb950503cec45ccff"
        };
        firebase.initializeApp(config);

        
        firebase.auth().onAuthStateChanged(function (user) {
            if (user) { 
                
         
                CKEDITOR.replace('content');
                

                
                $('#new_entry').submit(function(e){
                    e.preventDefault();
                    
                    var entry = {};
                    entry.Nome = $(this).find('[name="Nome"]').val();
                    entry.Sobrenome = CKEDITOR.instances['Sobrenome'].getData();
                    entry.email = CKEDITOR.instances['email'].getData();
                    entry.Rua = CKEDITOR.instances['Rua'].getData();
                    entry.Bairro = CKEDITOR.instances['Bairro'].getData();
                    entry.numero = CKEDITOR.instances['numero'].getData();
                    entry.Complemento = CKEDITOR.instances['Complemento'].getData();
                    entry.Telefone = CKEDITOR.instances['Telefone'].getData();
                    entry.createdAt = new Date().getTime();
                    entry.updatedAt = entry.createdAt;
                    entry.views = 0;
                    entry.author = user.email;
                    
                    var Entry = firebase.database().ref('Entry');
                    
                    Entry.push(entry).then(function(data){
                        window.location.href = 'entry.html?id='+data.getKey()
                    }).catch(function(error){
                        alert(error);
                        console.error(error);
                    })
                    
                    return false;
                });
                
                
            }else{
                // if not logged in
                alert('Please login first')
                window.location.href = 'login';
                
            }
        });
        
    </script>
